<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel - Arcade Style</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/styling/s5.css">
</head>

<body>

    <div class="navbar">
        <h1>Admin Panel </h1>
    </div>

    <div class="sidebar">
        <a href="/userpanel"><i class="fas fa-home"></i> Dashboard</a>
        <a href="/products"><i class="fas fa-box"></i> Product Inventory</a>
        <a href="#"><i class="fas fa-users"></i> Customers Reviews</a>
        <a href="/seller-signup"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>

    <div class="content">
        <div>
            <h1>CREATE NEW PRODUCT</h1>
            <hr>
        </div>
        <div>
            <h2>PRODUCT DETAILS</h2>
        </div>
        <div class="burger" onclick="toggleSidebar()">☰</div>
        <div class="sidebar">
            <!-- Sidebar content -->
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>



        <form action="/createproduct" method="post" enctype="multipart/form-data">
            <div>Product Image
                <input type="file" name="Image" required></input>
            </div>

            <input type="text" name="productname" placeholder="Product Name" required>
            <input type="text" name="productid" placeholder="Product Id" required>
            <input type="text" name="price" placeholder="Enter Price" pattern="^\d+(\.\d{2})?$" required>
            <input type="number" name="quantity" placeholder="number of units" required>

            <DIV>
                <h3>SELECT CATEGORY</h3>
                <select id="category" name="category" required>
                    <option value="Shirts">Shirts</option>
                    <option value="T-Shirts">T-Shirts</option>
                    <option value="Jeans">Jeans</option>
                    <option value="Accessories">Accessories</option>
                    <option value="Hoodies">Hoodies</option>
                    <option value="Lowers">Lowers</option>
                    <option value="Footwear">Footwear</option>
                    <option value="Headwear">Headwear</option>
                </select>
            </DIV>
            <div>
                <h3>AVAILABLE SIZES</h3>
                <label>
                    <input type="radio" name="size" value="Small">
                    Small
                </label>
                <label>
                    <input type="radio" name="size" value="Large">
                    Large
                </label>
                <label>
                    <input type="radio" name="size" value="X Large">
                    X Large
                </label>
                <label>
                    <input type="radio" name="size" value="XX Large">
                    XX Large
                </label>
                <label>
                    <input type="radio" name="size" value="XXX Large">
                    XXX Large
                </label>
            </div>

            <div>
                <h3>ADD DESCRIPTION</h3>
                <textarea name="desc" placeholder="Description of the product" required
                    style="resize: none;"></textarea>
            </div>

            <div>
                <h3>ADD STORY OF THE ARTIST</h3>
                <textarea name="story" placeholder="any story behind the upload of the artist"
                    style="resize: none;"></textarea>
            </div>
            <div><input type="submit" name="submit"></div>

        </form>


    </div>

    <script>
        function toggleSidebar() {
            const sidebar = document.querySelector('.sidebar');
            const content = document.querySelector('.content');
            sidebar.classList.toggle('active');
            content.classList.toggle('sidebar-active');
        }
    </script>


</body>

</html>