<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="/styling/s1.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    
    <form action="/create" method="post">

        <div class="box2">
            <inline>
                <h1>DONT HAVE AN ACCOUNT ? </h1>
            </inline>
            <div><input class="px-5 py-3 bg-transparent " type="text" name="name" placeholder="enter name" id="name">
            </div>
            <div><input class="px-5 py-3 bg-transparent" type="email" name="email" id="email" placeholder="enter Email">
            </div>
            <div><input class="px-5 py-3 bg-transparent " type="password" name="password" placeholder="enter password"
                    id="password"></div>
             
            <input class="input1" type="submit" placeholder="create profile"></input>
            



    </form>

    <div class="box3">
        
        <div class="user-info">
            <div class="already-user">
                <h1 class="sub heading">ALREADY A USER?</h1>
                <button id="login" type="button" onclick="window.location.href='/login'" class="input1">Go to Login</button>
            </div>
            <div class="divider"></div>
            <div class="seller-info">
                <h1 class="sub heading">ARE YOU A SELLER?</h1>
                <button id="seller-signup" type="button" onclick="window.location.href='/seller-signup'" class="input1">Sign Up as Seller</button>
            </div>
        </div>
    </div>

    <a href="/auth/google">AUTHENTICATE VIA GOOGLE</a>
</body>

</html>


