<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styling/s2.css">
</head>

<body>
    <form action="/read" method="post">
    <div><input class="px-5 py-3 bg-transparent" type="email" name="email" id="email" placeholder="enter Email">
    </div>
    <div><input class="px-5 py-3 bg-transparent " type="password" name="password" placeholder="enter password">
    </div>
    <div>
        <input type="submit" name="login" id="submit">
    </div>
</body>

</html>
