<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styling/wishlist.css">
</head>
<body>
    <div>
        <header>
            <a href="/userpanel"><img
                    src="/images/logo.png"
                    height="100 px"></a>

                    <form action="/search" method="get">
                        <input type="search" name="q" placeholder="Search..." required>
                        <!-- <button type="submit">Search</button> -->
                    </form>

            <a href="/cart"><img src="/images/download.png" alt="" height="40px" id="cart"></a>
            <a href="/wishlist"><img
                    src="/images/heart_icon.png"
                    alt="" height="40px" id="wishlist"></a>
            <a href="/profile"><img
                    src="/images/profile.png"
                    alt="" height="40px" id="profile"></a>
        </header>
        <hr>


    </div>
    <div><a href="/userpanel">RETURN TO HOME</a></div>
</body>
</html>