/* s1.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #141e30, #243b55);
    color: #ffffff;
    background: linear-gradient(to right, #8e44ad, #c0392b);
    background-size: cover;
    background-position: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background: linear-gradient(135deg, rgba(60, 30, 255, 0.8), rgba(0, 0, 0, 0.7));
    border: 3.6px solid #ff1e80;
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3), 0 0 20px rgba(30, 144, 255, 0.6); /* Glow effect */
    transition: box-shadow 0.3s ease-in-out;
}

form:hover {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3), 0 0 30px rgba(30, 144, 255, 0.8); /* Stronger glow on hover */
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e0e0e0;
    text-align: center;
    margin-bottom: 1.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #ffffff;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;

    
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
    border-color: #00f921;
    box-shadow: 0 0 8px #00f921; 
}

.input1 {
    width: 100%;
    padding: 0.8rem;
    background-color: #0000009f;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 20px;
}

.input1:hover {
    background-color: #00f921;
    box-shadow: 0 0 15px #f6f6f6; /* Glow effect on button hover */
}

.box3 {
    margin-top: 2rem;
    text-align: center;
    color: #e0e0e0;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 1.5rem;
}

.sub-heading {
    font-size: 1.2rem;
    font-weight: bold;
}

button.input1 {
    margin-top: 1rem;
    padding: 0.8rem 1.2rem;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button.input1:hover {
    background-color: #ee12fa;
    box-shadow: 0 0 15px #ffffff; /* Button glow effect on hover */
}
